<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
    <meta name="Arjun" content="">

    <!-- styles --> 
    <link href="stylesheets/styles.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src ="javascripts/mcq_questions.js">

    </script> 

  </head>
  <body	>
    <div>Error occured while loading this page!</div>    
  </body>
</html> 