<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="Arjun" content="">

    <!-- styles -->
    <link href="stylesheets/login_page.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src ="javascripts/login.js"></script> 

  </head>
  <body	>
  	<form id="login_form" method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="text" name="password"><br>
		<input id="login_submit_button" type="submit" value="Submit">
	</form>
    
  </body>
</html> 