<!DOCTYPE html>  
<html lang="en">  
  <head>
    <meta charset="utf-8">
    <title>Questions</title>
    <meta name="Arjun" content="">

    <!-- styles -->
    <link href="stylesheets/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src ="javascripts/mcq_questions.js">

    </script> 

  </head>
  <body	>
  	<form id="mcq_form" method="post">
  		<ol>
  			<li>
  				<div class="question-answer-set"> What is 2 + 2 ?</div>		
	  			<input type="radio" name = "group1" value="4">4
	  			<br>
	  			<input type="radio" name = "group1" value="6">6		
				<br>
				<label id="result1"></label>

  			</li>
  		
  			<li>
  				<div class="question-answer-set"> What is 3 * 4 ?</div>		
	  			<input type="radio" name = "group2" value="12">12
  				<br>
  				<input type="radio" name = "group2" value="21">21		
				<br>
				<label id="result2"></label>

  			</li>
  		
  			<li>
  				<div class="question-answer-set"> What is 2 / 2 ?</div>		
	  			<input type="radio" name = "group3" value="1">1
  				<br>
  				<input type="radio" name = "group3" value="2">2		
				<br>
				<label id="result3"></label>

  			</li>
  		</ol>
		
		<input id="mcq_submit_button" type="submit" value="Submit">
	</form>
    
  </body>
</html> 